body{
    /* background-color: aqua; */
    /* background-image: ; */
    background-color: rgb(144, 124, 97);
}
.main-app{
    /* display: flex; */
    text-align: center;
    /* width: 900px; */
    margin-top:40px ;
    margin-left: 490px;
    /* position: ; */
    margin-right:600px ;
    /* padding-right: 10px; */
    /* padding: 190px; */
    border: 9px solid rgb(16, 16, 16);
    border-radius: 10px;
    /* margin-left: ; */
}
.searchCountry{
    /* border: 20px solid black; */
    /* width: 100%;
    margin: 10px auto;
    border-radius: 50px;
    padding: 3px;
    /* display: flex; */
    /* align-items: center;
    background-color: #ffffffb2; */
    width: 100%;
    margin: 10px auto;
    border-radius: 50px;
    padding: 5px;

}
/* .searchCountry=<input */
.location{
    display: flex;
    padding-left: 10px;
}
.dates{
    display: flex;
    padding-left: 10px;
}
.wether{
    display: flex;
    margin-left: 50px;
}
.tem{
    margin-left: 90px;
}
.maindetails.one{
    /* display: flex; */
    /* border: 9px solid white; */
    height: 38px;
    background: rgba(86, 53, 53, 0.36);
    border: 0.5px solid rgba(108, 52, 52, 0.5);
    border-radius: 10px;
    padding: 10px 30px;
    padding-left: 30px;
    margin-top: 30px;
}


.one{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.humudity{
    display: flex;
    align-items: center;
    width: 70%;
}
.wind{
display: flex;
align-items: center;
width: 70%;
}
.cloude{

    display: flex;
    align-items: center;
    width: 70%;

}